{% extends 'base.html' %}

{% block content %}
<div class= 'position-relative'>
  <a href="{% url 'reviews:index' %}" class="me-2 position-absolute" style='left:-30px;'><i class="bi bi-chevron-left"></i></a>
  <h3>{{ review.title }}</h3>
  <p>작성자 : {{review.user}}</p>
  <p style='font-size : 12px; margin-top : 5px;'>{{review.created_at}}</p>
  <hr>
  <h4>{{ review.movie }}</h4>
  <div style='overflow-wrap: break-word; min-height: 300px;' >{{ review.content }}</div>
  {% if request.user == review.user %}
  <div class='d-flex justify-content-end'>
    <a class="btn btn-link update-btn" href="{% url 'reviews:update' review.pk %}">수정하기</a>
    <form action="{% url 'reviews:delete' review.pk %}" method="POST">
      {% csrf_token %}
      <input type="submit" value="삭제" class="btn btn-link remove-btn">
    </form>
  </div>
  {% endif %}
  <hr>
  <p class="mb-2">댓글 {{ comments|length }}</p>
  <form class="d-flex mb-4" action="{% url 'reviews:create_comment' review.pk %}" method="POST">
    {% csrf_token %}
    <div style="width:900px;">{{ form.as_p }}</div>
    <input class="ms-3 btn btn-info text-light" type="submit">
  </form>
  {% for comment in comments %}
  <div class='d-flex justify-content-between align-items-center'>
    <div class='mb-2'>{{ comment.user }}</div>
    <div style='font-size: 12px;'>{{comment.created_string}}</div>
  </div> 
    <p id="comment_content" style='overflow-wrap: break-word;' >{{ comment.content }}</p>
    {% if request.user == comment.user %}
      <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#{{ comment.pk }}" aria-expanded="false" aria-controls="{{ comment.pk }}" id="update_btn">
        수정
      </button>

      <div class="collapse" id="{{ comment.pk }}">
        <div class="card card-body">
          <form action="{% url 'reviews:update_comment' review.pk comment.pk %}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="수정">
          </form>
        </div>
      </div>

      <form class='text-end' action="{% url 'reviews:delete_comment' review.pk comment.pk %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="삭제" class="btn btn-link remove-btn" style='font-weight: normal;'>
      </form>
    {% endif %}
    <hr>
  {% endfor %}
</div>
<script>
  const updateBtn = document.querySelector('#update_btn')
  const updateForm = document.querySelector('#id_content')
  const comment = document.querySelector('#comment_content')
  const content = comment.innerHTML

  updateBtn.addEventListener('click', (event) => {
    console.log('helo')
    updateForm.setAttribute('value', content)
  })

</script>
{% endblock content %}